<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarketProgram"
        tools:targetApi="31">
        <activity
            android:name=".Dolgi"
            android:exported="false"
            android:parentActivityName=".ReportsActivity"/>
        <activity
            android:name=".AddMinusReportActivity"
            android:exported="false"
            android:parentActivityName=".ReportsActivity"/>
        <activity
            android:name=".PlusAmount"
            android:exported="false"
            android:parentActivityName=".SalePage"/>
        <activity
            android:name=".MinusAmount"
            android:exported="false"
            android:parentActivityName=".SalePage"/>
        <activity
            android:name=".AllPeriodReportActivity"
            android:exported="false"
            android:parentActivityName=".ReportsActivity"/>
        <activity
            android:name=".PeriodReportActivity"
            android:exported="false"
            android:parentActivityName=".ReportsActivity"/>
        <activity
            android:name=".RemainsActivity"
            android:exported="false"
            android:parentActivityName=".ReportsActivity"/>
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".ReportsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:parentActivityName=".SalePage"/>
        <activity
            android:name=".PlusSearchActivity"
            android:exported="false"
            android:parentActivityName=".PlusAmount"/>
        <activity
            android:name=".MinusSearchActivity"
            android:exported="false"
            android:parentActivityName=".MinusAmount"/>
        <activity
            android:name=".SalePage"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>